<div class="min-h-screen bg-slate-100 grid grid-cols-1 lg:grid-cols-2">
  <!-- LEFT BRANDING SECTION -->
  <div
    class="hidden lg:flex flex-col justify-center bg-blue-900 text-white p-12"
  >
    <div class="max-w-md">
      <h1 class="text-4xl font-bold mb-4">MarketSense</h1>

      <p class="text-lg text-blue-100 mb-8">
        AI-powered market intelligence platform helping businesses discover
        opportunities, analyze competitors and make smarter decisions.
      </p>

      <div class="space-y-4">
        <div class="flex items-center gap-3">
          <span class="material-icons">insights</span>
          <span>Market Intelligence</span>
        </div>

        <div class="flex items-center gap-3">
          <span class="material-icons">analytics</span>
          <span>Competitor Analysis</span>
        </div>

        <div class="flex items-center gap-3">
          <span class="material-icons">psychology</span>
          <span>AI-Powered Insights</span>
        </div>
      </div>
    </div>
  </div>

  <!-- RIGHT FORM SECTION -->
  <div class="flex items-center justify-center p-6">
    <div class="w-full max-w-md bg-white rounded-2xl shadow-xl p-8">
      <div class="mb-8">
        <h2 class="text-3xl font-bold text-gray-900">Create Account</h2>

        <p class="text-gray-500 mt-2">
          Join MarketSense and start exploring market opportunities.
        </p>
      </div>

      <!-- FORM -->
      <form
        class="space-y-5"
        [formGroup]="registerForm"
        (ngSubmit)="register()"
      >
        <!-- FULL NAME -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2">
            Full Name
          </label>

          <input
            type="text"
            formControlName="fullName"
            placeholder="John Doe"
            class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-blue-500"
          />
          @if(registerForm.controls['fullName'].touched &&
          registerForm.controls['fullName'].hasError('required')){
          <p class="text-red-500 text-sm mt-1">FullName is required</p>
          }
        </div>

        <!-- EMAIL -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2">
            Email Address
          </label>

          <input
            type="email"
            formControlName="email"
            placeholder="john@example.com"
            class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-blue-500"
          />
          @if ( registerForm.controls.email.touched &&
          registerForm.controls.email.invalid ) {
          <p class="text-red-500 text-sm mt-1">
            Please enter a valid email address
          </p>
          }
        </div>

        <!-- ROLE -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2">
            Role
          </label>

          <select
            class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-blue-500 cursor-pointer"
            formControlName="role"
          >
            <option value="">Select Role</option>
            <option value="ADMIN">Admin</option>
            <option value="ANALYST">Analyst</option>
            <option value="VIEWER">Viewer</option>
          </select>
          @if(registerForm.controls['role']?.touched &&
          registerForm.controls['role'].hasError('required')){
          <p class="text-red-500 text-sm mt-1">Role is required</p>
          }
        </div>

        <!-- PASSWORD -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2">
            Password
          </label>

          <input
            type="password"
            formControlName="password"
            placeholder="********"
            class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-blue-500"
          />
          @if(registerForm.controls['password'].touched &&
          registerForm.controls['password'].hasError('required')){
          <p class="text-red-500 text-sm mt-1">Password is required</p>
          }
        </div>

        <!-- CONFIRM PASSWORD -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2">
            Confirm Password
          </label>

          <input
            type="password"
            formControlName="confirmPassword"
            placeholder="********"
            class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-blue-500"
          />
          @if(registerForm.controls['confirmPassword'].touched &&
          registerForm.controls['confirmPassword'].hasError('required')){
          <p class="text-red-500 text-sm mt-1">Kindly confirm your password</p>
          }
        </div>

        <!-- BUTTON -->
        <button
          type="submit"
          [disabled]="registerForm.invalid"
          class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-3 rounded-lg transition cursor-pointer"
        >
          Create Account
        </button>
      </form>

      <!-- LOGIN LINK -->
      <div class="mt-6 text-center">
        <span class="text-gray-500"> Already have an account? </span>

        <a
          routerLink="/login"
          class="text-blue-600 hover:text-blue-800 font-medium ml-1 cursor-pointer"
        >
          Sign In
        </a>
      </div>
    </div>
  </div>
</div>
