<aside class="h-screen w-80 bg-gray-900 text-white flex-shrink-0">
  <div class="p-4 font-semibold border-b border-gray-700">Market Intel</div>
  <nav class="p-4 space-y-2">
    <a
      routerLink="/markets"
      routerLinkActive="bg-gray-800"
      class="block px-3 py-2 bg-gray-800 hover:bg-gray-800 transition"
    >
      Market Explorer
    </a>
    <a
      routerLink=""
      routerLinkActive=""
      class="block px-3 py-2 rounded-md opacity-50 cursor-not-allowed"
      >Insights(coming soon)</a
    >
    <a
      routerLink=""
      routerLinkActive=""
      class="block px-3 py-2 rounded-md opacity-50 cursor-not-allowed"
    >
      Strategies(coming soon)
    </a>
  </nav>
</aside>
