<aside class="h-screen w-80 bg-blue-900 text-white flex-shrink-0">
  <div class="p-4 font-semibold border-b border-blue-900">
    MarketSense Intelligent Portal
  </div>
  <nav class="p-4 space-y-2">
    <a
      routerLink="/markets"
      routerLinkActive="bg-blue-800"
      class="block px-3 py-2 bg-blue-800 hover:bg-blue-700 transition"
    >
      Market Explorer
    </a>
    <a
      routerLink="/competitor-analysis"
      routerLinkActive="bg-blue-800"
      class="block px-3 py-2 rounded-md bg-blue-800 hover:bg-blue-700 transition"
      >Competitor Analysis</a
    >
  </nav>
</aside>
